@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css");


.page-footer {
  display: flex;
  background: #272727;
  color: #fff;
  justify-content: center;
}
.page-footer a{
  color: #79CC36;
}
.page-footer a:hover {
  color: #8f8f8f;
}

.page-footer-container {
  font-weight: 300;
  width: 50%;
  padding: 2em 0;
  text-align: center;/* Alinea el texto al centro */
}

.page-footer-container p {
  font-size: 0.8em;

}
.page-footer-container i {
  font-size: 1.5em;
  padding: 0.8em 0.1em;

}
.page-footer-container i:hover {
  color: #79CC36;
  
}
